@import "../Sass/misc";

body {
  background-color: $white;

  // NavBar
  nav {
    @include myNav();
  }

  // Header
  header {
    color: $black;
    .row {
      height: 600px;
      .text {
        height: 520px;
        padding-top: 70px;
        h1 {
          font-family: $Henny;
          height: 90px;
          font-size: 30px;
          span:nth-child(1) {
            color: $purple;
          }
          span:nth-child(2) {
            color: $green;
          }
          span:nth-child(3) {
            color: $yellow;
          }
        }
        p {
          font-size: 22px;
          font-family: $Roboto;
        }
      }
      .img {
        background-image: url(./images/mathias-elle-_qWqp_VjInU-unsplash.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 5%;
        height: 600px;
      }
    }
  }

  // Main
  main {
    color: $black;
    .row {
      height: 800px;
      .text {
        height: 520px;
        h1 {
          font-family: $Henny;
          height: 100px;
          span:nth-child(1) {
            color: $purple;
          }
          span:nth-child(2) {
            color: $green;
          }
          span:nth-child(3) {
            color: $yellow;
          }
        }
        p {
          font-size: 22px;
          font-family: $Roboto;
          padding-left: 50px;
        }
      }
      .img {
        background-image: url(./images/PopTech-_LaToya_Cantrell_\(cropped\).jpg);
        background-size: cover;
        border-radius: 5%;
        height: 600px;
      }
    }
  }

  // Footer
  footer {
    @include myFooter();
  }

  @media (max-width: 768px) {
    header {
      .row {
        height: 420px;
        .text {
          p {
            font-size: 18px;
          }
          h1 {
            font-size: x-large;
            height: 75px;
          }
        }
      }
    }
    main {
      .row {
        .text {
          p {
            font-size: 18px;
            padding-left: 0;
          }
        }
      }
    }
  }
}
