body {
  background-image: url(../Main/img/sarah-shull-pBYgLDVGmkM-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  height: 26rem;
  position: relative;
}
h1 {
  position: absolute;
  background: white;
  height: 76px;
  width: 24%;
  left: 40%;
  border-radius: 25px;
  font-size: 43px;
  font-style: italic;
  font-family: cursive;
  border: 3px solid black;
}
.home {
  position: absolute;
  left: 49%;
  top: 23%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 13rem);
  grid-template-rows: repeat(3, 310px);

  justify-content: center;
  gap: 80px;
  margin-left: 100px;
  height: 73rem;
}

.frame {
  position: relative;
  border: 3px solid black;
  border-radius: 10px;
}

.remove::before {
  content: "remove\2192 ";
  color: red;
  position: absolute;
  top: 50%;
  font-size: 1rem;
  right: 100%;
}
