@import "../Sass/misc";

body {
  background-color: $white;

  // NavBar
  nav {
    @include myNav();
  }

  // Header
  header {
    height: 850px;
    background: linear-gradient($black, $purple);
    .title {
      display: flex;
      justify-content: center;
      height: 150px;
      padding-top: 40px;
      font-family: $Henny;
      color: $white;
      span:nth-child(1) {
        color: $purple;
      }
      span:nth-child(2) {
        color: $green;
      }
      span:nth-child(3) {
        color: $yellow;
      }
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 200px);
      justify-content: center;
      grid-gap: 10px;
      img {
        height: 200px;
        width: 200px;
      }
    }
  }

  // Light Box
  #lightBox {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
  }
  #lightBox.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lightBoxImg {
    height: 400px;
    width: 400px;
    border: 4px solid $black;
  }

  // Section
  section {
    background-color: $yellow;
    height: 500px;
    .title {
      display: flex;
      justify-content: center;
      height: 80px;
      padding-top: 30px;
      font-family: $Henny;
    }
    .video_grid {
      display: grid;
      grid-template-columns: repeat(3, 300px);
      justify-content: center;
      align-items: center;
      grid-gap: 20px;
      height: 350px;
      iframe {
        height: 200px;
        width: 300px;
        border: 10px solid $purple;
      }
    }
  }

  // Footer
  footer {
    @include myFooter();
  }

  // Media Query
  @media (max-width: 768px) {
    header {
      height: 620px;
      .grid {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        justify-content: center;
        grid-gap: 10px;
        img {
          height: 100px;
          width: 100px;
        }
      }
    }
    section {
      .video_grid {
        display: flex;
        justify-content: center;
        flex-direction: column;
        iframe {
          height: 100px;
          width: 170px;
          border: 5px solid $purple;
          border-radius: 5%;
        }
      }
    }
  }
  @media (max-width: 992px) and (min-width: 769px) {
    section {
      .video_grid {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        justify-content: center;
        align-items: center;
        grid-gap: 115px;
        height: 350px;
        iframe {
          height: 100px;
          width: 170px;
          border: 5px solid $purple;
          border-radius: 5%;
        }
      }
    }
  }
}
