body {
  background-color: #f2f2f2;
}
body nav .navbar-toggler {
  background-color: #8cbf3f;
  color: #0d0d0d;
  font-family: "Roboto Serif", serif;
  width: 100%;
}
body nav .nav-link {
  color: #0d0d0d;
  text-align: center;
  font-family: "Roboto Serif", serif;
}
body header {
  height: 850px;
  background: linear-gradient(#0d0d0d, #9453a6);
}
body header .title {
  display: flex;
  justify-content: center;
  height: 150px;
  padding-top: 40px;
  font-family: "Henny Penny";
  color: #f2f2f2;
}
body header .title span:nth-child(1) {
  color: #9453a6;
}
body header .title span:nth-child(2) {
  color: #8cbf3f;
}
body header .title span:nth-child(3) {
  color: #f2cc0f;
}
body header .grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: center;
  grid-gap: 10px;
}
body header .grid img {
  height: 200px;
  width: 200px;
}
body #lightBox {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
body #lightBox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .lightBoxImg {
  height: 400px;
  width: 400px;
  border: 4px solid #0d0d0d;
}
body section {
  background-color: #f2cc0f;
  height: 500px;
}
body section .title {
  display: flex;
  justify-content: center;
  height: 80px;
  padding-top: 30px;
  font-family: "Henny Penny";
}
body section .video_grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  height: 350px;
}
body section .video_grid iframe {
  height: 200px;
  width: 300px;
  border: 10px solid #9453a6;
}
body footer {
  height: 230px;
  background-color: #9453a6;
}
body footer .row {
  align-items: center;
  height: 250px;
  font-family: "Roboto Serif", serif;
}
body footer .row .left {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 180px;
}
body footer .row .left .logo_container {
  height: 110px;
}
body footer .row .left .menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 380px;
}
body footer .row .left .copyright {
  font-size: small;
}
body footer .row .center {
  flex-direction: column;
  padding: 35px;
}
body footer .row .center .icon {
  display: flex;
  justify-content: space-evenly;
}
body footer .row .right {
  flex-direction: column;
  padding: 30px;
}
body footer .row .right .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 25px 10px 25px;
}
body footer .row .right .info h5 {
  font-family: "Pattaya", sans-serif;
}
body footer .row .right .info p {
  font-size: 12px;
}
body footer .row .right .icon {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  body header {
    height: 620px;
  }
  body header .grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    grid-gap: 10px;
  }
  body header .grid img {
    height: 100px;
    width: 100px;
  }
  body section .video_grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  body section .video_grid iframe {
    height: 100px;
    width: 170px;
    border: 5px solid #9453a6;
    border-radius: 5%;
  }
}
@media (max-width: 992px) and (min-width: 769px) {
  body section .video_grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    align-items: center;
    grid-gap: 115px;
    height: 350px;
  }
  body section .video_grid iframe {
    height: 100px;
    width: 170px;
    border: 5px solid #9453a6;
    border-radius: 5%;
  }
}/*# sourceMappingURL=style.css.map */